.project {
  display: flex;
  border: 1px solid #895f5f26;
  padding-left: 50px;
  flex-direction: column;
  width: 30%;
  border-radius: 20px;
  margin-top: 150px;
}
.mainss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.back {
  position: relative;
  top: 2rem;
  left: 28rem;
  text-decoration: none;
  color: #272626;
  background-color: #cfe4cf;
  width: 65px;
  height: 25px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding-top: 6px;
}
.deleteButton {
  position: absolute;
  top: 21rem;
  right: 42rem;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #d51717;
  border-radius: 6px;
  color: white;
}
svg {
  width: 1.3rem;
  height: 2rem;
}
input,
textarea,
select {
  width: 100%;
}
.btns {
  width: 30%;
  margin-left: 45px;
}
@media screen and (max-width: 600px) {
  .project {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .back {
    position: relative;
    top: 1rem;
    left: 14rem;
  }
  .deleteButton {
    position: absolute;
    top: 19rem;
    right: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #d51717;
    border-radius: 6px;
    color: white;
  }
  svg {
    width: 1rem;
    height: 1.5rem;
  }
}
