table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td,
th {
  text-align: center;
  padding-top: 20px;
  border-bottom: 1px solid rgb(200, 184, 184);
  

}
.button {
  background-color: rgb(200, 32, 3);
  color: white;
  border:1px solid black;
 
}
.spinner{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  td,
  th {
    padding-top: 10px;
    padding-left: 0;
  }
 
}
