.edit {
  display: flex;
  flex-direction: column;
}
#input,
#textarea,
#select {
  width: 50%;
}
.updateBtn {
  width: 26%;
  height: 4vh;
  position: relative;
  left: 70px;
  color: white;
  background-color: blue;
  border-radius: 17px;
}
